<h1>Sign Up</h1>

<%= form_for @user do |f| %>

 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> </h2>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>

  username: <%= f.text_field :user_name %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Submit" %>

<% end %>